// $bgColor: #24292e;
// $text: #fff;

// @font-face {
//   font-family: 'Comic';
//   src: url('../fonts/comic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

html {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: red;
	margin: 0;
	padding: 0;
}

// .container {
// 	max-width: 1820px;
// 	margin: 0 auto;
// }

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1;
}

a {
	display: inline-block;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*Header*/

.header {
  display: flex;
}