html {
	box-sizing: border-box;
}

*,*::before, *::after {
	box-sizing: inherit;
}

// .container {
// 	max-width: 1820px;
// 	margin: 0 auto;
// }

a {
	display: inline-block;
	text-decoration: none;
	color: #616161;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-size: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #fff;
	color: #616161;
	margin: 0;
	padding: 0;
}

.general__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 24px;
	margin-bottom: 18px;
	color: #474747;
}

.general__preview {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 33px;
}

/*Header*/

.header {
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 24px;
	padding-bottom: 24px;

  &__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 70%;
	}

	&__link {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #616161;
	}

	&__link:first-child {
		margin-right: 48px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__search {
		display: flex;
		align-items: center;
		margin-right: 66px;
	}

	&__search-btn {
		border: none;
		background: inherit;
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		color: #616161;
		padding: 0;
		margin-left: 8px;
	}

	&__personal-area {
		display: flex;
		align-items: center;
	}

	&__user {
		margin-right: 16px;
	}
}

/*Main*/

.main {
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
}

/*Menu*/

.menu {
	// width: 407px;
	// flex-shrink: 0;
	width: 24%;
	margin-right: 30px;

	&__item {
		border-radius: 16px;
		padding: 24px 0 24px 25px;
		cursor: pointer;
		transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
	}

	&__item:hover {
		transform: translateY(-5px);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	}

	&__link {
		display: flex;
		align-items: center;
	}

	&__link-icon {
		display: flex;
		align-items: center;
	}

	&__link-text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 24px;
		margin-left: 16px;
	}
}

/*Content*/

.content {
	// flex-grow: 1;
	width: 74%;
}

/*Trip*/

.trip {	
	background-image: url('../img/trip/trip-board.png');
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 488px;
	border-radius: 15px;
	
	&__select {
		display: flex;
		align-items: center;
		background-color: #fff;
		padding: 16px 16px 16px 42px;
		border-radius: 8px;
	}

	&__select-item {
		position: relative;
		margin-right: 35px;
	}

	// &__select-item::after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 1px;
	// 	height: 56px;
	// 	top: 0;
	// 	left: 0;
	// 	background-color: #ECECEC;
	// }

	&__dropdown-title {
		display: flex;
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
	}

	&__dropdown-icon {
		display: flex;
    align-items: center;
		margin-left: 13px;
	}

	&__btn {
		display: flex;
		border: none;
		border-radius: 8px;
		background-color: #665FFD;
		color: #fff;
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		width: 162px;
		padding: 16px 24px;
	}

	&__btn-icon {
		margin-left: 40px;
	}
}

/*Services*/

.services {
	margin-top: 61px;

	&__list {
		display: flex;
		margin-bottom: 62px;
	}

	&__list-item {
		position: relative;
		margin-right: 25px;
	}

	&__list-picture {
		border-radius: 15px;
	}

	&__list-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		margin: 15px 0 0 23px;
	}

	&__list-description {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		margin-bottom: 65px;
	}

	&__list-offers {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		color: #fff;
	}

	&__buttons {
		position: absolute;
		top: 49%;
    right: 100px;
	}

	&__btn {
		background: #EAEEF4;;
		border: none;
		border-radius: 15px;
		width: 56px;
		height: 56px;
		padding: 0;
	}
}

/*Balloons*/

.balloons {
	position: relative;
	margin-bottom: 60px;

	&__wrapper {
		position: absolute;
		margin: 32px 0 0 32px;
	}

	&__title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 40px;
		color: #fff;
		margin-bottom: 24px;
	}

	&__preview {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 24px;
		color: #fff;
		margin-bottom: 24px;
	}

	&__background {
		width: 100%;
		border-radius: 15px;
	}

	&__link {
		display: flex;
		align-items: center;
		background: #fff;
		color: #31989F;
		padding: 16px 24px;
		border: none;
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		border-radius: 8px;
		width: 208px;
	}

	&__link-icon {
		display: flex;
		margin-left: 40px;
	}

	&__buttons {
		position: absolute;
		top: 71%;
    right: 70px;
	}

	&__btn {
		background: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 15px;
    width: 56px;
    height: 56px;
    padding: 0;
	}
}

/*Developments*/

.developments {
	margin-bottom: 57px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__envelope {
		display: flex;

	}

	&__left-column {
		width: 846px;
		margin-right: 33px;
	}

	&__btn {
		background: #EAEEF4;
    border: none;
    border-radius: 15px;
    width: 56px;
    height: 56px;
		padding: 0;
		cursor: pointer;
	}

	&__left-photo {
		background: #C4C4C4;
		border-radius: 15px;
		width: 100%;
	}

	&__general-title {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
		color: #354052;
		margin-bottom: 16px;
		margin-top: 26px;
	}

	&__general-text {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		color: #354052;
		margin-bottom: 30px;
	}

	&__left-footer {
		display: flex;
		justify-content: space-between;
	}

	&__calendar {
		display: flex;
		justify-content: space-between;
	}

	&__calendar-icon {
		margin-right: 8px;
	}

	&__link {
		display: flex;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		color: #665FFD;
		cursor: pointer;
	}

	&__left-icon {
		display: flex;
		align-items: center;
		margin-left: 40px;
	}

	&__right-column {
		width: 404px;
	}

	&__right-photo {
		border-radius: 15px;
		width: 100%;
	}
}

/*Articles*/

.articles {
	margin-bottom: 64px;

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 408px;
	}

	&__photo {
		border-radius: 15px;
		width: 100%;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__calendar {
		display: flex;
    align-items: center
	}

	&__calendar-icon {
		margin-right: 8px;
	}

	&__link {
		display: flex;
		align-items: center;
	}

	&__left-icon {
		margin-left: 40px;
		cursor: pointer;
	}
}